*.Makefile
*.iml
*.gypcmd
*.mk
*.ncb
*.ninja
*.opensdf
*.props
*.pyc
*.rules
*.sdf
*.sln
*.suo
*.targets
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*_proto.xml
*_proto_cpp.xml
*~
.idea
!Android.mk
!Application.mk
.*.sw?
.DS_Store
.classpath
.cproject
.gdb_history
.gdbinit
.metadata
.project
.pydevproject
# Settings directory for eclipse
/.settings
libpeerconnection.log
tags
Thumbs.db
v8.log
/Makefile
gen/
/Debug/
/Release/

